
<header>
    <div class="topnav" id="myTopnav">
        <div class="row">
            <div class="col-lg-6 logo-div">
    
    <a routerLink="/home"><img class="logo" src="../assets/img/logo.png" alt=""></a>
            </div>
            <div class="col-lg-6 nav-links">
                <a routerLink="/home" routerLinkActive="active"><i class="fa fa-h-square" aria-hidden="true"></i></a>
                <!-- <a class="logo-lg" href="#"><img class="logo" src="../assets/img/logo.png" alt=""></a> -->
                <a routerLink="/services" routerLinkActive="active">Services</a>
                <a routerLink="/contact-us" routerLinkActive="active">Contact-Us</a>
                <a routerLink="/about-us" routerLinkActive="active">About-Us</a>
                <a routerLink="/main" routerLinkActive="active">Main</a>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
                </a>
            </div>
            </div>
    </div>
</header>
<div style="height:50px;"></div>
<a name="top"></a>