<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 devide">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab perferendis corporis culpa accusamus aliquid iure voluptatum sunt eum quisquam veritatis ad, aut in rem cupiditate animi explicabo, quia inventore consequatur.
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dolorum, velit natus exercitationem earum obcaecati aspernatur dolore dolor deserunt vitae officia sint tenetur aut architecto accusamus ea nesciunt. Minus, dignissimos.</h1>
<h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia impedit at corrupti, sit commodi facere. Expedita, necessitatibus inventore fugit aspernatur rem ipsam ad dolores harum voluptates? Similique dignissimos impedit fuga!</h2> 
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facilis incidunt neque dolorum et error officia voluptatibus placeat minus, eligendi tenetur, molestias blanditiis nihil explicabo tempora eveniet odio iure aut?</h3> 
<h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam totam quae porro sit soluta recusandae consectetur! Esse cum mollitia ipsa deserunt molestiae laudantium, sapiente odio harum deleniti expedita quod cumque.</h4> 
<h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet temporibus sint hic tenetur aspernatur, nulla velit reprehenderit ipsam rem consequatur quidem fugit. Rerum esse dolor illo veritatis, eum vero distinctio?</h5> 
<h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio a repudiandae repellat, in sint recusandae perferendis necessitatibus mollitia modi unde aperiam aspernatur voluptatum debitis fuga iure nemo quas excepturi! Voluptatibus.</h6>    
</div>
        <div class="col-lg-9">
            <router-outlet></router-outlet>

            <div class="row homerow1">
                <div class="col-lg-6">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem laborum nihil, unde dolorem blanditiis quasi incidunt perspiciatis accusamus. Cumque nulla consectetur eligendi ipsa nihil similique incidunt dolorum! Magni, est a?
                </div>
                <div class="col-lg-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad minus veritatis aspernatur saepe porro fugit asperiores, totam quis quos repudiandae tempore alias, numquam mollitia aliquid harum provident quia nulla sapiente.
                </div>
            </div>
        </div>

    </div>

</div>

<!-- <app-home></app-home>
<app-about-us></app-about-us>
<app-contact-us></app-contact-us>
<app-services></app-services> -->
<!-- <app-main></app-main> -->
<app-footer></app-footer>